<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Data Driven Demo">
   <listeners>
        <listener class-name="com.demo.listeners.CustomListeners"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="LoginTest">
        <classes>
            <class name="com.demo.testcases.LoginTest">
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="AddCustomerTest">
        <classes>
            <class name="com.demo.testcases.AddCustomerTest">
            </class>
        </classes>
    </test>
<test verbose="2" preserve-order="true" name="OpenAccountTest">
<classes>
    <class name="com.demo.testcases.OpenAccountTest">
    </class>
</classes>
</test>
</suite>